<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOMEPAGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>

<body>
    <div class="panel panel-primary" style="margin:20px; ">
        <div class="panel-heading">
            <h1 class="panel-title">HOMEPAGE</h1>
        </div>
        <div class="panel-body">
            <div style="text-align: center">
                <div class="form-group">
                    <form action="http://127.0.0.1:8085/res/res-form">
                        <button style="width: 50%" type="submit" class="btn btn-primary btn-lg" formtarget="http://127.0.0.1:8085/res/res-form">New Restaurant</button>
                    </form>
                </div>
                <div class="form-group">
                    <form action="http://127.0.0.1:8085/menu/menu-form">
                        <button style="width: 50%" type="submit" class="btn btn-primary btn-lg" formtarget="http://127.0.0.1:8085/menu/menu-form">New Menu</button>
                    </form>
                </div>
                <div class="form-group">
                    <form action="http://127.0.0.1:8085/sug/suggest-form">
                        <button style="width: 50%" type="submit" class="btn btn-primary btn-lg" formtarget="http://127.0.0.1:8085/sug/suggest-form">New Suggest</button>
                    </form>
                </div>
                <div class="form-group">
                    <form action="http://127.0.0.1:8085/new/new-form">
                        <button style="width: 50%" type="submit" class="btn btn-primary btn-lg" formtarget="http://127.0.0.1:8085/new/new-form">New Arrival</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>