<!DOCTYPE html>
<html lang="en">

<head>
    <title>SUGGEST FORM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</head>

<body>
    <div class="panel panel-primary" style="margin:20px;">
        <div class="panel-heading">
            <h1 class="panel-title">Suggest Form</h1>
        </div>
        <div class="panel-body">
            <form action="http://127.0.0.1:8085/sug/new-suggest" method="POST" enctype="application/x-www-form-urlencoded" data-toggle="validator">
                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="example-text-input" class="col-2 col-form-label">Restaurant</label>
                            <input class="form-control" type="text" name="txtRes" id="example-text-input" required="true">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="example-text-input" class="col-2 col-form-label">Topic</label>
                            <input class="form-control" type="text" name="txtTopic" id="example-text-input" required="true">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="example-text-input" class="col-2 col-form-label">Latitude</label>
                            <input class="form-control" type="number" step="any" name="lati" id="example-text-input" required="true">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="example-text-input" class="col-2 col-form-label">Longitude</label>
                            <input class="form-control" type="number" step="any" name="longi" id="example-text-input" required="true">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="example-text-input" class="col-2 col-form-label">Image</label>
                            <input class="form-control" type="text" name="linkImg" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" name="txtDesc" id="exampleFormControlTextarea1" rows="3" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-row" align="center">
                        <div class="form-group">
                            <button style="width: 45%" type="submit" class="btn btn-primary">submit</button>
                            &thinsp;
                            <button style="width: 45%" type="reset" class="btn btn-secondary">cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</body>

</html>